<ion-view view-title="BC German Club"  >
<ion-content padding="true" >

  <div class="list card" ng-repeat="link in linkEntries" >
    <div class="item item-body item-text-wrap" >

    <a href="{{link.link}}" onclick="window.open(this.href, '_blank','location=yes'); return false;" class="item item-icon-left dark">
      <i class="icon ion-social-youtube-outline"></i>
      <b style="color:#11C1F3">{{link.title}}</b>
    </a>

    <p>
      {{link.description}}
    </p>
    </div>

  </div>

</ion-content>
</ion-view>
